{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;   
}
/*Style the header */
header {
    background-color:red;
    padding: 30px;
    text-align: center;
    color: white;
}
/* Create two colums/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: orange;
    padding: 20px;
}
/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: whitesmoke;
    height: 300px; /*only for demonstration, should be removed */
}

/* Clear floats after the columns */
aside {
    clear: both;
}
/*Style the footer */
footer {
    background-color: rgb(255, 0, 242);
    padding: 10px;
    text-align: center;
    color: white;
}