* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Knoe Logo */

.logo {
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 24px;
    /* position: below; */
    z-index: auto;
}

.nav-items {
    box-sizing: border-box;
    display: flex;
    float: none;
    line-height: 1.5;
    position: relative;
    z-index: auto;
    padding: .5rem 1rem;
    background-color: #3751a2;
    color: #fff;
}

/* links inside the navebar */
.nav-items a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    width: 25%;
    text-align: center;
    font-weight: 400;
}

.body {
    background: antiquewhite;
    /* display: inline-block; */
}

.middleContainer {
    width: 1000px;
    display: flex;
}

.top-left-image {
    width: 500px;
    height: 500px;
}

.textBox {
    font-weight: 700;
    font-size: 2rem;
    box-sizing: border-box;
    color: #212529;
    text-align: left;
    margin-bottom: .5rem;
    line-height: 1.2;
}

#leftContainer {
    width: 300px;
    height: 100vh;
    display: flex;
    color: white;
}


#farRightContainer {
    width: 300px;
    height: 100vh;
    display: flex;
    color: white;
    float: right;
}

/* the . infront of name is for classes. If you are targeting elements dont include the . */

footer {

}

footer > div {
    background-color: blue;
}

.masthead {
    background-image: url("https://www.knoe.com/pf/resources/images/mastheads/backgrounds/knoe.jpg?d=341");
    /* background-image: url("./assets/images/backgroundImageforHeader.avif"); */
}




.row {
    float: below;
    padding: 0px;
    display: flex;
    padding-bottom: 25px;
    padding-left: 10px;
    border-radius: 90%;
    width: 85%;
}

.row p {
    float: right;
    color: black;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    
}

.column1 {
    float: left;
    padding: 15px;
}

main {
    display: flex;
}